{% import '_includes/forms' as forms %}

{% set currentDomain = siteUrl|replace('/^https?:\\/\\//', '')|replace('/\\/$/', '') %}

{% macro configWarning(setting) -%}
    {% set docsUrl = 'https://www.doublesecretagency.com/plugins/digital-download/docs/override-settings' %}
    <p class="warning">
        {{ "This is being overridden by the {setting} config setting."|t('app', {
            setting: '<a href="'~docsUrl~'" target="_blank">'~setting~'</a>'
        })|raw }}
    </p>
{%- endmacro %}
{% from _self import configWarning %}

{% css %}
#content code {
    color: #476582;
    padding: .25rem .5rem;
    margin: 0;
    font-size: .85em;
    background-color: rgba(27,31,35,.05);
    background: rgba(0,72.85714285714286,127.5,.054901960784314);
    border-radius: 3px;
}

ul.hotlink-options {
    list-style: disc;
    padding-left: 18px;
}
ul.hotlink-options li {

}
{% endcss %}

{% set longPath = 'index.php/' ~ craft.app.config.general.actionTrigger ~ '/digitalDownload/download?u=' %}

{% js "var longPath = '#{longPath}';" %}

<h2>{{ "Short Download Links"|t('digital-download') }}</h2>

{% set path = (settings.shortPath ? settings.shortPath ~ '/' : longPath) %}

{{ forms.textField({
    instructions: "Set a short path for download URLs. If you leave this blank, the long path will be used by default."|t('digital-download'),
    id: 'shortPath',
    name: 'shortPath',
    value: settings.shortPath,
    disabled: 'shortPath' in overrideKeys
}) }}
{{ 'shortPath' in overrideKeys ? configWarning('shortPath') }}

<p><a href="#" onclick="alert('Example download initiated...')">{{ siteUrl }}<span id="demoPath">{{ path }}</span>(token)</a></p>

<hr/>

<h2>Hotlinking</h2>

<p><a href="https://plugins.doublesecretagency.com/digital-download/hotlinking/">Hotlinking</a> from other websites is <strong>forbidden by default</strong>. When necessary, there are two ways to configure hotlinking:</p>

<ul class="hotlink-options">
    <li><strong>Option 1</strong> - Configure individual link availability when <a href="https://plugins.doublesecretagency.com/digital-download/creating-a-token/#createtoken-asset-options">creating each token</a>, or</li>
    <li><strong>Option 2</strong> - Set the "Allow Hotlinks" field below to manage the availability of all links in the system.</li>
</ul>

{{ forms.selectField({
    label: 'Allow Hotlinks'|t('digital-download'),
    instructions: 'Should other websites be allowed to link to your downloadable files?'|t('digital-download'),
    name: 'allowHotlinks',
    id: 'allowHotlinks',
    options: [
        {value: 'none',      label: 'No hotlinking allowed'|t('digital-download')},
        {value: 'all',       label: 'Hotlink from any website'|t('digital-download')},
        {value: 'specified', label: 'Only hotlink from specified sites'|t('digital-download')},
    ],
    value: (settings.allowHotlinks ?? 'none'),
    toggle: true,
}) }}

<div id="specified" class="hidden">
    {{ forms.editableTableField({
        label: "Hotlink Domain Whitelist"|t('digital-download'),
        instructions: "Which domains (besides this one) can link to downloadable files?"|t('digital-download'),
        id: 'hotlinksWhitelist',
        name: 'hotlinksWhitelist',
        cols: {
            whitelistDomain: {
                type: 'singleline',
                heading: "Domains"|t('digital-download'),
                info: "List all other domains which are permitted to hotlink downloadable files."|t('digital-download'),
                placeholder: 'www.friendlysite.com'|t('app'),
                code: true,
            },
        },
        rows: (settings.hotlinksWhitelist ?? []),
        allowAdd: true,
        allowDelete: true,
        allowReorder: true,
        addRowLabel: 'Add a friendly domain'|t('app'),
    }) }}
</div>

<hr/>

<h2>Complete Download Log</h2>

{{ forms.checkbox({
    label: raw("<strong>Keep a detailed record of all downloads</strong>"|t('digital-download')),
    id: 'keepDownloadLog',
    name: 'keepDownloadLog',
    checked: settings.keepDownloadLog,
    disabled: 'keepDownloadLog' in overrideKeys
}) }}
{{ 'keepDownloadLog' in overrideKeys ? configWarning('keepDownloadLog') }}
<p>Generally unnecessary... The detailed log is not used to handle basic tracking.</p>
<ul>
    <li><strong>PRO:</strong> You have a detailed log of every download, which can then be accessed by another plugin or module via the <code>doublesecretagency\digitaldownload\records\Log</code> class.</li>
    <li><strong>CON:</strong> Any time Craft needs to create a backup database, it could take a very long time (depending on how big the log table gets).</li>
</ul>
